<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :issue_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :issue_description %>
  </div>
  
<% if false %>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :issue_user_id %>
  </div>
<% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id, User.all.map{|c| [c.name, c.id]}, :prompt => "Select One" %>
  </div>

<% if false %>
  <div class="field">
    <%= form.label :assigned_id %>
    <%= form.number_field :assigned_id, id: :issue_assigned_id %>
  </div>
<% end %>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :issue_tipo %>
  </div>

  <div class="field">
    <%= form.label :prioridad %>
    <%= form.text_field :prioridad, id: :issue_prioridad %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado, id: :issue_estado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
