<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @issue.user_id %>
</p>

<p>
  <strong>Assigned:</strong>
  <%= @issue.assigned_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @issue.tipo %>
</p>

<p>
  <strong>Prioridad:</strong>
  <%= @issue.prioridad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @issue.estado %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
